..Rcheck
.RData
.Rhistory
ChemmineR.tex
ChemmineR_2.17.11.tar.gz
*.swo
dbTests.R
desc_dist_test.R
edit.vim
edit2.vim
inst/unitTests/.test_clustering.R.swo
inst/unitTests/descriptor_dups.sdf
inst/unitTests/test_postgres.R
knitcitations_1.0-1.tar.gz
notes
parBatch.out
parBench-sub-1
parBench-sub-10
parBench-sub-2
parBench-sub-3
parBench-sub-4
parBench-sub-5
parBench-sub-6
parBench-sub-7
parBench-sub-8
parBench-sub-9
scratch/
sdf1-3d.sdf
small.sdf
*.so
*.bak
*.o
src/r_wrap.cc.swig-gen
*.rds
t1
test.R
test.db
test.sdf
test1.db
test2.db
test_desc.db
vignettes/..Rcheck
vignettes/.RData
vignettes/.Rhistory
vignettes/ChemmineR.R
vignettes/ChemmineR.Rmd.bak
vignettes/ChemmineR.html
vignettes/ChemmineR.md
vignettes/Rplots.pdf
vignettes/distmat.rda
vignettes/doi.bib
vignettes/doi2.bib
vignettes/figure
vignettes/final.Rmd.off
vignettes/fix.sed
vignettes/test.db
*.DS_Store
